<h2>Welcome</h2>

<a href="/about">About</a>
<br/>
<br/>
<%=link_to "New gif", new_gif_path%>

<br/>
<br/>


<%@gifs.each do |gif| %>

<img class="img" src=<%=gif.url%>><br/>
<%=gif.title%>
<br/>
<br/>

<%end%>